<div class="sideMenuPart" id="nav-submenu" pageId="////PointingToDeclaration//-1717644268">
  <div class="overview"><a href="-state-space-search_-kotlin/index.html"><span>State</span><wbr></wbr><span>Space</span><wbr></wbr><span>Search_</span><wbr></wbr><span>Kotlin</span></a><span class="navButton pull-right" onclick="document.getElementById(&quot;nav-submenu&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span></div>
  <div class="sideMenuPart" id="nav-submenu-0" pageId="////PointingToDeclaration//-1717644268">
    <div class="overview"><a href="-state-space-search_-kotlin/%5Broot%5D/index.html"><span>[root]</span></a><span class="navButton pull-right" onclick="document.getElementById(&quot;nav-submenu-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span></div>
    <div class="sideMenuPart" id="nav-submenu-0-0" pageId="//handleWebsockets/#io.ktor.client.HttpClient#kotlin.String#kotlin.String#kotlin.String#kotlin.Boolean/PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/%5Broot%5D/handle-websockets.html"><span>handle</span><wbr></wbr><span>Websockets()</span></a></div>
    </div>
    <div class="sideMenuPart" id="nav-submenu-0-1" pageId="//main/#/PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/%5Broot%5D/main.html"><span>main()</span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="nav-submenu-1" pageId="agent////PointingToDeclaration//-1717644268">
    <div class="overview"><a href="-state-space-search_-kotlin/agent/index.html"><span>agent</span></a><span class="navButton pull-right" onclick="document.getElementById(&quot;nav-submenu-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span></div>
    <div class="sideMenuPart" id="nav-submenu-1-0" pageId="agent/Agent///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/agent/-agent/index.html"><span>Agent</span></a></div>
    </div>
    <div class="sideMenuPart" id="nav-submenu-1-1" pageId="agent/BreathFirstAgent///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/agent/-breath-first-agent/index.html"><span>Breath</span><wbr></wbr><span>First</span><wbr></wbr><span>Agent</span></a></div>
    </div>
    <div class="sideMenuPart" id="nav-submenu-1-2" pageId="agent/State///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/agent/-state/index.html"><span>State</span></a></div>
    </div>
    <div class="sideMenuPart" id="nav-submenu-1-3" pageId="agent/Viewer///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/agent/-viewer/index.html"><span>Viewer</span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="nav-submenu-2" pageId="agent.alternativ////PointingToDeclaration//-1717644268">
    <div class="overview"><a href="-state-space-search_-kotlin/agent.alternativ/index.html"><span>agent.</span><wbr></wbr><span>alternativ</span></a><span class="navButton pull-right" onclick="document.getElementById(&quot;nav-submenu-2&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span></div>
    <div class="sideMenuPart" id="nav-submenu-2-0" pageId="agent.alternativ/DepthFirstAgent///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/agent.alternativ/-depth-first-agent/index.html"><span>Depth</span><wbr></wbr><span>First</span><wbr></wbr><span>Agent</span></a></div>
    </div>
    <div class="sideMenuPart" id="nav-submenu-2-1" pageId="agent.alternativ/HeuristicAgent///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/agent.alternativ/-heuristic-agent/index.html"><span>Heuristic</span><wbr></wbr><span>Agent</span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="nav-submenu-3" pageId="game////PointingToDeclaration//-1717644268">
    <div class="overview"><a href="-state-space-search_-kotlin/game/index.html"><span>game</span></a><span class="navButton pull-right" onclick="document.getElementById(&quot;nav-submenu-3&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span></div>
    <div class="sideMenuPart" id="nav-submenu-3-0" pageId="game/Cell///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/game/-cell/index.html"><span>Cell</span></a></div>
    </div>
    <div class="sideMenuPart" id="nav-submenu-3-1" pageId="game/Direction///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/game/-direction/index.html"><span>Direction</span></a><span class="navButton pull-right" onclick="document.getElementById(&quot;nav-submenu-3-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span></div>
      <div class="sideMenuPart" id="nav-submenu-3-1-0" pageId="game/Direction.down///PointingToDeclaration//-1717644268">
        <div class="overview"><a href="-state-space-search_-kotlin/game/-direction/down/index.html"><span>down</span></a></div>
      </div>
      <div class="sideMenuPart" id="nav-submenu-3-1-1" pageId="game/Direction.left///PointingToDeclaration//-1717644268">
        <div class="overview"><a href="-state-space-search_-kotlin/game/-direction/left/index.html"><span>left</span></a></div>
      </div>
      <div class="sideMenuPart" id="nav-submenu-3-1-2" pageId="game/Direction.right///PointingToDeclaration//-1717644268">
        <div class="overview"><a href="-state-space-search_-kotlin/game/-direction/right/index.html"><span>right</span></a></div>
      </div>
      <div class="sideMenuPart" id="nav-submenu-3-1-3" pageId="game/Direction.up///PointingToDeclaration//-1717644268">
        <div class="overview"><a href="-state-space-search_-kotlin/game/-direction/up/index.html"><span>up</span></a></div>
      </div>
    </div>
    <div class="sideMenuPart" id="nav-submenu-3-2" pageId="game/GameState///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/game/-game-state/index.html"><span>Game</span><wbr></wbr><span>State</span></a></div>
    </div>
    <div class="sideMenuPart" id="nav-submenu-3-3" pageId="game/Move///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/game/-move/index.html"><span>Move</span></a><span class="navButton pull-right" onclick="document.getElementById(&quot;nav-submenu-3-3&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span></div>
      <div class="sideMenuPart" id="nav-submenu-3-3-0" pageId="game/Move.change_nothing///PointingToDeclaration//-1717644268">
        <div class="overview"><a href="-state-space-search_-kotlin/game/-move/change_nothing/index.html"><span>change_nothing</span></a></div>
      </div>
      <div class="sideMenuPart" id="nav-submenu-3-3-1" pageId="game/Move.slow_down///PointingToDeclaration//-1717644268">
        <div class="overview"><a href="-state-space-search_-kotlin/game/-move/slow_down/index.html"><span>slow_down</span></a></div>
      </div>
      <div class="sideMenuPart" id="nav-submenu-3-3-2" pageId="game/Move.speed_up///PointingToDeclaration//-1717644268">
        <div class="overview"><a href="-state-space-search_-kotlin/game/-move/speed_up/index.html"><span>speed_up</span></a></div>
      </div>
      <div class="sideMenuPart" id="nav-submenu-3-3-3" pageId="game/Move.turn_left///PointingToDeclaration//-1717644268">
        <div class="overview"><a href="-state-space-search_-kotlin/game/-move/turn_left/index.html"><span>turn_left</span></a></div>
      </div>
      <div class="sideMenuPart" id="nav-submenu-3-3-4" pageId="game/Move.turn_right///PointingToDeclaration//-1717644268">
        <div class="overview"><a href="-state-space-search_-kotlin/game/-move/turn_right/index.html"><span>turn_right</span></a></div>
      </div>
    </div>
    <div class="sideMenuPart" id="nav-submenu-3-4" pageId="game/ParsedGameState///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/game/-parsed-game-state/index.html"><span>Parsed</span><wbr></wbr><span>Game</span><wbr></wbr><span>State</span></a></div>
    </div>
    <div class="sideMenuPart" id="nav-submenu-3-5" pageId="game/Player///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/game/-player/index.html"><span>Player</span></a></div>
    </div>
    <div class="sideMenuPart" id="nav-submenu-3-6" pageId="game/Time///PointingToDeclaration//-1717644268">
      <div class="overview"><a href="-state-space-search_-kotlin/game/-time/index.html"><span>Time</span></a></div>
    </div>
  </div>
</div>

